.articles{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.articles_card{
    color: #fff;
    width: 200px;
    height: 300px;
    background-color:rgb(194, 10, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    margin-left:  15px;
    box-shadow: 3px 3px  rgb(144, 144, 144);
}

.articles_card h1{
    padding: 20px;
    font-size: 1.2em;

}
.articles a{
    text-decoration: none;
}
.articles_card p {
    padding-left: 20px;
    font-size: 1.3em;
}