
.article{
    width: 100%;
    color: #000;
    display: flex;
    flex-direction: column;
}
.article h1{
    align-self: center;
    padding: 30px;
}

.article p {
    width: 60%;
    align-self: center;
}

.article p::first-letter{
    margin-left: 20px;
    text-transform: uppercase;
}
