.create_account{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.create_account form{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 500px;
    align-items: center;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.47);
}
.create_account h1{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}

.create_account form label{
    margin-bottom: 2px;
    color: #fff;
    font-size: 1.2em;
}
.create_account form input[type = text], input[type = password] {
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: none;
    margin-bottom: 40px;
    font-size: 0.8em;
    padding: 15px;
}
.create_account form input[type= submit]{
    height: 45px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(13, 17, 225);
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: 0.1;
}


.create_account form input[type= submit]:hover{
    background-color: rgb(11, 11, 130);
    color: rgb(180, 168, 168);
}

.create_account span{
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
}

.create_account a{
    text-decoration: none;
    color: rgb(6, 6, 197);
}

form input:focus{
    box-shadow: 0px 0px 0px 0px;
    outline: 0;
}