.login{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}


.login form{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 420px;
    background-color:rgb(0, 0, 0);
    border-radius: 6px;
    align-items: center;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.494);
}

.login form input[type = text], input[type = password] {
    height: 40px;
    width: 300px;
    border-radius: 4px;
    border: none;
    margin-bottom: 40px;
    padding: 15px;
}
.login h1{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}
.login form input[type= submit]{
    height: 45px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(13, 17, 225);
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: 0.1;
}

.login form input[type= submit]:hover{
    background-color: rgb(11, 11, 130);
    color: rgb(180, 168, 168);
}
.login span{
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
}

.login a{
    text-decoration: none;
    color: rgb(6, 6, 197);
    transition: 0.1s;
}
.login a:hover{
    text-decoration: underline;
    color: blue;
}

form input:focus{
    box-shadow: 0px 0px 0px 0px;
    outline: 0;
}