.password{
    margin-top: 80px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password form{
    width: 320px;
    height: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px 10px;
    border-radius: 7px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.404);
}

.password label{
    margin-top: 5px;
}

.password input[type = password]{
    text-align: start;
    padding: 15px;
}
.password input[type=submit]{
    margin-top: 15px;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: rgb(3, 3, 179);
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: 0.1s;
}

.password input[type= submit]:hover{
    background-color: rgb(14, 14, 134);
}