*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-color: rgb(250, 245, 245);
  font-family: 'Poppins', sans-serif;
}

li{
  list-style: none;
}