.content {
    margin-top: 50px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 135px;
}

.content>h1 {
    align-self: center;
    color: #000;
    padding-top: 10px;
    font-size: 4em;
}

.h1_button {
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.h1_button h1 {
    font-size: 2.5em;
}

.content button {
    height: 50px;
    width: 250px;
    border-radius: 7px;
    border: none;
    background-color: rgb(22, 20, 20);
    color: #fff;
    transition: 0.1s;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
}
.notranslate .public-DraftEditor-content{
    width: 100%;
    height: 400px;
    background-color: brown;
}

.content button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

.articles a {
    text-decoration: none;
}

@media (max-width: 1150px){
    .content{
        padding: 0px;
    }
    .articles{
        justify-content: center;
    }
}

@media (max-width:600px){
    .h1_button{
        padding: 10px 25px;
    }

    .h1_button h1{
        font-size: 2em;
    }
    .h1_button button{
        width: 190px;
    }
}